<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OPA - Armario</title>
</head>
<body>
  <section class="banner">
    <h2>ARMARIO</h2>
    <p>Encontrá tu estilo</p><img src="wwwroot/img/formulario.png" alt="formulario">
  </section>
  <section class="tu avatar">
    <h4>TU AVATAR</h4>
    <img>
  </section>
  <section class="tu ropa">
    <h4>TU ROPA</h4>
    <select name="orden">
    <option>Ordenar por nombre</option>
    <option>Ordenar por fecha de compra</option>
    //Agregar mas filtros para ordenar
  </section>
</body>
</html>



