<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iniciar sesión</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
 
    <main class="inciarSesion">
      <section>
        <div>
          <h2>Iniciar sesión</h2>
          <form action='@Url.Action("comprobarDatos")'>
            <input type="text" placeholder="Nombre de usuario" name="nombreUsuario" required />
            <input type="password" placeholder="Contraseña" name="password" required />
            <input type="submit" value="Iniciar sesión" />
            @if(ViewBag.estado=="error"){
                <h2>El usuario o contraseña son incorrectos.</h2>
            }
            <p>¿Todavía no tenes tu cuenta?<a href='@Url.Action("registrarse")'>Registrarse</a></p>
          </form>
        </div>
      </section>
    </main>
  </body>
</html>