<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registrarse</title>
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <main class="registrarse">
      <section>
        <div>
          <h2>Registrarse</h2>
          <form action='@Url.Action("registrarNuevo")'>
          <input type="text" name="nombreUsuario" id="usuario" placeholder="Nombre de usuario" required />
          <h2 id="yaesta" style="display:none">Ese nombre de usuario ya esta en uso.</h2>

            <input type="password" name="password" placeholder="Contraseña" required />
            <input type="text" placeholder="Nombre" name="nombre" required />
            <input type="text" placeholder="Apellido" name="apellido" required />
            <input type="text" placeholder="Telefono"  name="telefono"/>
            <input type="email" placeholder="Correo electrónico" name="Mail" required />
             <select name="Genero">
              <option disabled selected>Selecciona tu genero</option>
              <option value=1>Mujer</option>
              <option value=2>Hombre</option>
              <option value=3>Otro</option>
             </select>
              <select name="esVendedor">
              <option disabled selected>¿Sos vendedor? esta opcion se puede cambiar en el futuro</option>
              <option value='true'>Si</option>
              <option value='false'>No</option>
             </select>

            <input type="submit" value="Registrarse" />
            <p>¿Ya tenés una cuenta?<a href="iniciarSesion.html">Iniciar sesión</a></p>
          </form>
          
        </div>
      </section>
    </main>
  </body>
  <script>
    const usuario = document.getElementById('usuario');
    const valor=document.getElementById('usuario').innerHTML;
        const error=document.getElementById('yaesta');

    var yaExiste="false";
    document.getElementById('usuario').onkeydown = function(e){
    if (event.key == 'Enter') {
        event.preventDefault();
        yaExiste = CompradorBD.yaExiste(valor);
        Console.log("aca")
        if(yaExiste){
            yaesta.style.display="block";
        }
    }

    }
    
  </script>
</html>
