<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OPA - Home</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

</head>
<body>
  
  <section class="banner">
    <h2>OPA</h2>
    <p>Somos ropa, única y personal.</p>
  </section>
  <section class="recomendado">
    <h3>Recomendado para vos ></h3>
    <div class="ropaRecomendada">
     @foreach(Prenda prendita in ViewBag.Ropa){
      <div>
      <img src="/img/@prendita.foto">
        <h4>@prendita.Modelo</h4>
        <p>@prendita.Precio</p>

      </div>
     }
    </div>
  </section>
  <section class="lanzamientos">
    <h3>Últimos lanzamientos ></h3>
    @foreach(Tienda tienda in ViewBag.tiendas){
      <div>
      <img src="/img/@tienda.FotoDePerfil">
        <h4>@tienda.Nombre</h4>

      </div>
    }
  </section>
  <section class="explorando">
    <h3>Seguí explorando</h3>
    <div class="explorar-opciones">
      <div class="opcion">
        <p>Tiendas</p>
      </div>
      <div class="opcion">
        <p>Estilos</p>
      </div>
      <div class="opcion">
        <a href="Outfits.cshmtl">Outfits</a>
      </div>
    </div>
  </section>
  <footer>
    <p>© 2025 OPA</p>
  </footer>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

</body>
</html>

