<!DOCTYPE html>
  <html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OPA - Home</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  </head>
  <body>
    <section class="banner">
      <h2>OPA</h2>
      <p>Somos ropa, única y personal.</p>
    </section>
<h1>TU CARRITO</h1>
<section class="PagoCarrito">
<div>
<h2>INFO DE COMPRA:</h2>
<h2>SUBTOTAL: $56.000</h2>
<hr>
<h2>ENTREGA</h2>
<h2>ENTREGA POR CORREO (+$6.000)</h2>
<button onclick="">CAMBIAR</button>
<hr>
<h2>DIRECCIÓN DE ENTREGA</h2>
<h2>@ViewBag.direccion</h2>
<button onclick="">CAMBIAR</button>
<hr>
<h2>TOTAL: $62.000</h2>
</div>
    <button onclick="">ATRÁS</button>
    <button onclick="">CONTINUAR</button>
</section>
    <footer>
      <p>© 2025 OPA</p>
    </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

  </body>
  </html>